<!DOCTYPE html>
<title>{{ siteName }} - {{ pageName }}</title>

<link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">

<div class="NavBar-Container">
    <nav class="navbar">
        <ul>
            <li><a href="{{ url_for('index') }}">Home</a></li>
            <li><a href="{{ url_for('about') }}">About</a></li>
            <li><a href="{{ url_for('contact') }}">Contact</a></li>
            {% if not loggedInUsername %}
            <li><a href="{{ url_for('login') }}">login</a></li>
            {% else %}
            <li>{{ loggedInUsername }}</li>
            <li><a href="{{ url_for('logout') }}">logout</a></li>
            {% endif %}
        </ul>
    </nav>
</div>

{% block content %} {% endblock %}